* {
  box-sizing: border-box;
}
.auth-form-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-form {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  padding: 50px 70px 16px;
  border-radius: 24px;
}
.form-group {
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: #605dec;
}
.link:hover {
  text-decoration: underline;
}
.forgot-password {
  font-size: 14px;
}
.btn-primary {
  background-color: #605dec !important;
}
