@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
body {
  font-family: "Nunito Sans", sans-serif;
}
.navbar {
  top: 0;
  left: 0;
  right: 0;
}
.navbar-brand {
  color: #605dec !important;
  font-weight: bold;
}
.nav-link,
.link {
  color: #7c8db0 !important;
  transition: 0.2s color;
}
.nav-item {
  padding: 5px 10px;
}
.nav-link:hover,
.nav-link.active {
  color: #605dec !important;
}
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
}
